@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {  
  :root {    

    --clr-1: #XXXXX;
    --clr-2: #XXXXX;
    --clr-3: #XXXXX;
    --clr-4: #XXXXX;
    --clr-5: #XXXXX;
    --clr-6: #XXXXX;
    --clr-7: #XXXXX;
    --clr-8: #XXXXX;
    --clr-9: #XXXXX;
    --clr-0: #XXXXX;

  }
        
  body { @apply scroll-smooth overflow-x-hidden
    text-[--clr-XXXXX]
    bg-[--clr-XXXXX]
    text-SIZE 
    md:text-SIZE 
    lg:text-SIZE
    font-WEIGHT;
    font-family: var(--font-primary);
  }

  header, main, footer { @apply flex justify-center
    mx-[XXXXX] 
    md:mx-[XXXXX] 
    lg:mx-[XXXXX];
  }
  
  h1, h2, h3, h4, h5, h6 { @apply
    text-[--clr-XXXXX]
    font-WEIGHT;
    font-family: var(--font-secondary);
  }

  picture { @apply 
    block ;}

  input:-webkit-autofill, input:-webkit-autofill:focus {
    box-shadow: 0 0 0 100px var(--neutral-3) inset;
    -webkit-text-fill-color: var(--neutral-1);  
  }
}

@layer components {

  .CenterAbsolute { @apply left-1/2 -translate-y-1/2
  }
  .ExtendBackground {
    box-shadow: 0 0 0 100vmax var(--neutral-3);
    clip-path: inset(0 -100vmax); 
  }
  .FixedToAutoMargin { @apply mx-auto ;
    width: min(var(--max-width-body), 100% - calc(var(--margin-desktop) * 2));
  } 
  .FixedHeader { @apply fixed top-0 w-full ;
  }
  .FlexBetween { @apply flex justify-between ;
  }
  .FlexCol { @apply flex flex-col;
  }
  .FlexCenter { @apply flex justify-center ;
  }
  .SplitCenter { @apply grid grid-cols-1 place-items-center md:grid-cols-2 ;
  }


  .OverlayParent { @apply relative w-fit overflow-hidden ;}
  .OverlayChild { @apply absolute inset-0 opacity-0 bg-black hover:opacity-60             hover:transition-opacity ;}
      
    /* TOGGLE SWITCH */

    /* #input:checked ~ #off {
      display: none;   
    }
    #input:checked ~ #on {   
        display: contents;
    } */
    
    @media (max-width: 650px) {
        #label:has(#input) + #childContainer {
          
        
            background-color: var(--neutral-3);
            display: grid;
            position: absolute;
            translate: 100%;
            top: 150px;
            right: 0;
            padding-inline: 50px;
            padding-block: 50px;
            transition: translate .1s ease-out;
        }
        
        #label:has(#input:checked) + #childContainer {
        /* * */
        translate: 0;
        transition: translate .1s ease-out;
        }
    
    }
}