/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {  
  :root {    
    --clr-1: #XXXXX;
    --clr-2: #XXXXX;
    --clr-3: #XXXXX;
    --clr-4: #XXXXX;
    --clr-5: #XXXXX;
    --clr-6: #XXXXX;
    --clr-7: #XXXXX;
    --clr-8: #XXXXX;
    --clr-9: #XXXXX;
  }     

  body { @apply scroll-smooth overflow-x-hidden
    text-[--clr-XXXXX]
    bg-[--clr-XXXXX]
    text-XXXXX 
    md:text-XXXXX 
    lg:text-XXXXX
    font-XXXXX;
    font-family: var(--font-primary);
  }

  header, 
  main, 
  footer { 
    @apply flex justify-center 
  }

  header > div, 
  main > div, 
  footer > div { 
    @apply w-full 
    max-w-[XXXXX]
    mx-[XXXXX] 
    md:mx-[XXXXX] 
    lg:mx-[XXXXX];
  }

  h1, h2, h3, h4, h5, h6 { @apply
    text-[--clr-XXXXX]
    font-XXXXX;
    font-family: var(--font-secondary);
  }
  picture { @apply 
    block ;
  }
  
  input:-webkit-autofill, input:-webkit-autofill:focus {
    box-shadow: 0 0 0 100px var(--neutral-3) inset;
    -webkit-text-fill-color: var(--neutral-1);  
  }
}

    
  @media (max-width: 650px) {
    #label:has(#input) + #childContainer {
      background-color: var(--neutral-3);
      display: grid;
      position: absolute;
      translate: 100%;
      top: 150px;
      right: 0;
      padding-inline: 50px;
      padding-block: 50px;
      transition: translate .1s ease-out;
    }
    
    #label:has(#input:checked) + #childContainer {
      translate: 0;
      transition: translate .1s ease-out;
    }  
  } */
