@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {  
  :root {    
    --clr-1: rgb(255, 255, 255);
    --clr-2: rgb(200, 200, 255);
    --clr-3: rgb(150, 150, 255);
    --clr-4: rgb(100, 100, 255);
    --clr-5: rgb(50, 50, 255);
    --clr-6: rgb(0, 0, 255);
    --clr-7: rgb(0, 0, 0);
  }

  html {
    scroll-behavior: smooth !important;
  }

  body { @apply overflow-x-hidden
    text-[--clr-6]
    bg-[--clr-3]
    text-16 
    md:text-18 
    lg:text-20
    font-medium;
    font-family: var(--font-primary);
  }

  header, 
  main, 
  footer { 
    @apply flex justify-center;
  }

  header > div, 
  main > div, 
  footer > div { 
    @apply w-full
    max-w-[1100px]
    mx-[1rem] 
    md:mx-[2rem] 
    lg:mx-[4rem];
  }

  h1, h2, h3, h4, h5, h6 { @apply
    text-[--clr-6]
    font-bold;
    font-family: var(--font-secondary);
  }
  picture { @apply 
    block ;
  }
  
  input:-webkit-autofill, input:-webkit-autofill:focus {
    box-shadow: 0 0 0 100px var(--neutral-3) inset;
    -webkit-text-fill-color: var(--neutral-1);  
  }
}

    
  @media (max-width: 650px) {
    #label:has(#input) + #childContainer {
      background-color: var(--neutral-3);
      display: grid;
      position: absolute;
      translate: 100%;
      top: 150px;
      right: 0;
      padding-inline: 50px;
      padding-block: 50px;
      transition: translate .1s ease-out;
    }
    
    #label:has(#input:checked) + #childContainer {
      translate: 0;
      transition: translate .1s ease-out;
    }  
  }
